# Анализ датасета "Выгорание сотрудников" (Employee attrition dataset)

Команда: Гречаная Е., Журавлева И., Попова А., Хайруллина К. 

**Цель проекта** - изучение факторов работы, приводящих к истощению (выгоранию) сотрудников  
 
**Задачи проекта**:
1. Описание факторов работы, приводящих к истощению сотрудников (разведочный анализ данных) 
2. Предобработка данных и сокращение количества факторов 
3. Построение корреляционной матрицы для выявления зависимости между выгоранием сотрудников и факторами работы
4. Выбор значимых факторов для регрессионной модели 
4. Построение регрессионной модели для объяснения влияния факторов работы на истощение сотрудников
5. Описание результатов регрессионной модели
 
Материалы проекта хранятся на Github - https://github.com/lizagrechanaya/2020_HR_Analytics_Employee_Attrition

## Библиотеки

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

## Загрузка датасета

***Через директорию в Github***

In [14]:
path = "https://raw.githubusercontent.com/lizagrechanaya/2020_HR_Analytics_Employee_Attrition/master/WA_Fn-UseC_-HR-Employee-Attrition.csv"

data = pd.read_csv(path)

In [15]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

***Через локальную папку***

In [10]:
df = pd.read_csv("D:/УЧЁБА/Магистратура 2019-2021/1 курс/Методы/WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [11]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

## Описание датасета

продолжить здесь описание переменных в стиле (см. файл pandas_part01):

В файле датасете "Выгорание сотрудников" хранятся результаты вымышленного опроса IBM HR Analytics Employee Attrition & Performance.

Датасет состоит из 35 переменных, из которых ...

**Показатели в файле:**

* `gender` – пол респондента;

* `ftype` – тип елки, которую оценивал респондент;

* `height` – высота елки в сантиметрах;

* `expenses` – сумма (в рублях), которую респондент готов отдать за елку;

* `score` – оценка, которую респондент поставил елке (1 – очень плохо, 5 – отлично);

* `wish` – ответ на вопрос «Хотели бы, чтобы Вам подарили такую елку?» (да, нет).

**Сокращение факторов**

перечилить, какие и почему

Далее рассмотрим более детальное описание оставшихся показателей

## Разведочный анализ данных

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [7]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

см. файлы pandas_part01 и pandas_part03 для визуализации (гистограммы) и группировки показателей

## Предобработка данных

**Проверка пропущенных значений**

In [101]:
df.isnull().values.any()

False

**Кодирование переменных**

In [98]:
cat_vars=['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(df[var], prefix=var)
    df1=df.join(cat_list)
    df=df1
    
cat_vars=['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
data_vars=df.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_vars]

df=df[to_keep]
df.columns.values

array(['Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Attrition_No', 'Attrition_Yes',
       'BusinessTravel_Non-Travel', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Human Resources',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Human Resources', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Female', 'Gender_Male',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'Over18_Y',
       'OverTime_No', 'OverTime_Yes'], dtype=object)

**Сокращение числа факторов**

In [100]:
df = df.drop(['OverTime_No', 'Attrition_No'], axis = 1)

## Корреляционный анализ

## Регрессионная модель

In [141]:
from sklearn.linear_model import LogisticRegression

X = df.drop(['Attrition_Yes'], axis = 1)
Y = df['Attrition_Yes']

In [142]:
cols = list(X.columns)

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    0
Name: Attrition_Yes, Length: 1470, dtype: uint8

In [144]:
X = X[cols]

In [145]:
import statsmodels.api as sm
logit_model=sm.Logit(Y,X)
result=logit_model.fit()
print(result.summary2())

Warning: Maximum number of iterations has been exceeded.
         Current function value: inf
         Iterations: 35
                                          Results: Logit
===================================================================================================
Model:                            Logit                        Pseudo R-squared:             inf
Dependent Variable:               Attrition_Yes                AIC:                          inf
Date:                             2020-05-19 12:49             BIC:                          inf
No. Observations:                 1470                         Log-Likelihood:               -inf
Df Model:                         45                           LL-Null:                      0.0000
Df Residuals:                     1424                         LLR p-value:                  1.0000
Converged:                        0.0000                       Scale:                        1.0000
No. Iterations:                   35.0000
---------------------------------------------------------------------------------------------------
                                   Coef.     Std.Err.      z    P>|z|      [0.025         0.975]
---------------------------------------------------------------------------------------------------
Age                                -0.0315       0.0136 -2.3196 0.0204        -0.0582       -0.0049
DailyRate                          -0.0003       0.0002 -1.2899 0.1971        -0.0007        0.0001
DistanceFromHome                    0.0459       0.0108  4.2501 0.0000         0.0247        0.0670
Education                           0.0115       0.0880  0.1305 0.8962        -0.1610        0.1839
EmployeeCount                       0.0001          nan     nan    nan            nan           nan
EmployeeNumber                     -0.0002       0.0002 -1.0149 0.3102        -0.0005        0.0001
EnvironmentSatisfaction            -0.4341       0.0830 -5.2293 0.0000        -0.5968       -0.2714
HourlyRate                          0.0012       0.0044  0.2623 0.7931        -0.0075        0.0098
JobInvolvement                     -0.5269       0.1227 -4.2937 0.0000        -0.7675       -0.2864
JobLevel                           -0.0938       0.3164 -0.2964 0.7669        -0.7138        0.5263
JobSatisfaction                    -0.4143       0.0815 -5.0819 0.0000        -0.5741       -0.2545
MonthlyIncome                       0.0000       0.0001  0.1653 0.8687        -0.0001        0.0002
MonthlyRate                         0.0000       0.0000  0.4478 0.6543        -0.0000        0.0000
NumCompaniesWorked                  0.1945       0.0388  5.0079 0.0000         0.1184        0.2706
PercentSalaryHike                  -0.0233       0.0394 -0.5925 0.5535        -0.1004        0.0538
PerformanceRating                   0.1165       0.3992  0.2919 0.7704        -0.6660        0.8990
RelationshipSatisfaction           -0.2654       0.0829 -3.2012 0.0014        -0.4279       -0.1029
StandardHours                       0.0092          nan     nan    nan            nan           nan
StockOptionLevel                   -0.1930       0.1587 -1.2159 0.2240        -0.5040        0.1181
TotalWorkingYears                  -0.0599       0.0293 -2.0423 0.0411        -0.1174       -0.0024
TrainingTimesLastYear              -0.1884       0.0732 -2.5758 0.0100        -0.3318       -0.0450
WorkLifeBalance                    -0.3725       0.1242 -2.9994 0.0027        -0.6159       -0.1291
YearsAtCompany                      0.0961       0.0389  2.4701 0.0135         0.0198        0.1724
YearsInCurrentRole                 -0.1513       0.0455 -3.3231 0.0009        -0.2405       -0.0621
YearsSinceLastPromotion             0.1735       0.0424  4.0900 0.0000         0.0904        0.2567
YearsWithCurrManager               -0.1367       0.0470 -2.9065 0.0037        -0.2289       -0.0445
BusinessTravel_Non-Travel          -0.9787          nan     nan    nan            nan           nan
BusinessTravel_Travel_Frequently    0.9305          nan     nan    nan            nan           nan
BusinessTravel_Travel_Rarely        0.0482          nan     nan    nan            nan           nan
Department_Human Resources        -10.3753 5467156.0691 -0.0000 1.0000 -10715439.3686 10715418.6180
Department_Research & Development   5.2563 4798301.2155  0.0000 1.0000  -9404492.3129  9404502.8256
Department_Sales                    5.1191 5477270.2975  0.0000 1.0000 -10735247.3976 10735257.6358
EducationField_Human Resources      0.4294          nan     nan    nan            nan           nan
EducationField_Life Sciences       -0.3220          nan     nan    nan            nan           nan
EducationField_Marketing            0.0667          nan     nan    nan            nan           nan
EducationField_Medical             -0.4158          nan     nan    nan            nan           nan
EducationField_Other               -0.3612          nan     nan    nan            nan           nan
EducationField_Technical Degree     0.6030          nan     nan    nan            nan           nan
Gender_Female                      -0.1995 3275886.1764 -0.0000 1.0000  -6420619.1228  6420618.7237
Gender_Male                         0.1996 3275886.1764  0.0000 1.0000  -6420618.7236  6420619.1229
JobRole_Healthcare Representative  -2.4081 2580530.4445 -0.0000 1.0000  -5057749.1403  5057744.3241
JobRole_Human Resources            14.5085 2580531.8285  0.0000 1.0000  -5057734.9363  5057763.9532
JobRole_Laboratory Technician      -0.9223 2580530.4445 -0.0000 1.0000  -5057747.6545  5057745.8098
JobRole_Manager                    -2.1064 2580530.4445 -0.0000 1.0000  -5057748.8386  5057744.6258
JobRole_Manufacturing Director     -2.1619 2580530.4445 -0.0000 1.0000  -5057748.8941  5057744.5703
JobRole_Research Director          -3.5407 2580530.4445 -0.0000 1.0000  -5057750.2728  5057743.1915
JobRole_Research Scientist         -1.8708 2580530.4445 -0.0000 1.0000  -5057748.6030  5057744.8613
JobRole_Sales Executive            -1.2246 2580530.4445 -0.0000 1.0000  -5057747.9568  5057745.5075
JobRole_Sales Representative       -0.2735 2580530.4445 -0.0000 1.0000  -5057747.0057  5057746.4587
MaritalStatus_Divorced             -0.5036          nan     nan    nan            nan           nan
MaritalStatus_Married              -0.1665          nan     nan    nan            nan           nan
MaritalStatus_Single                0.6702          nan     nan    nan            nan           nan
Over18_Y                            0.0001          nan     nan    nan            nan           nan
OverTime_Yes                        1.9789       0.1939 10.2085 0.0000         1.5990        2.3589
===================================================================================================

/home/guest/.local/lib/python3.7/site-packages/statsmodels/discrete/discrete_model.py:1747: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/home/guest/.local/lib/python3.7/site-packages/statsmodels/discrete/discrete_model.py:1800: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))
/home/guest/.local/lib/python3.7/site-packages/statsmodels/base/model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/guest/.local/lib/python3.7/site-packages/statsmodels/base/model.py:1354: RuntimeWarning: invalid value encountered in sqrt
  bse_ = np.sqrt(np.diag(self.cov_params()))
/home/guest/.local/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/home/guest/.local/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/home/guest/.local/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/home/guest/.local/lib/python3.7/site-packages/statsmodels/base/model.py:548: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/home/guest/.local/lib/python3.7/site-packages/statsmodels/base/model.py:548: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

## Описание результатов регрессионной модели

здесь будет текст